@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Slabo+27px&display=swap");

.App {
  min-height: 100vh;
  position: relative;
  text-align: center;
  font-family: "Slabo 27px", Arial, Helvetica, sans-serif;

  header {
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 2%;
    padding-left: 2%;
    padding-bottom: 2%;
    margin-bottom: 1%;
    text-align: left;

    img {
      margin-right: 0.5%;
      width: 9%;
      max-width: 75px;
      display: inline-block;
    }

    h1 {
      display: inline-block;
    }
  }

  footer {
    margin-top: 100px;
    position: absolute;
    padding: 2%;
    height: 2%;
    width: 100%;

    img {
      margin-right: 0.5%;
      width: 4%;
      max-width: 50px;
    }
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0% 7%;
}

.column {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
