.form {
  width: 33%;
  min-width: 275px;
  max-width: 350px;
  margin: auto;
  padding: 10px;
  padding-bottom: 0px;
  box-shadow: 2px 5px gray;
  border: solid gray 1px;
  text-align: left;
  padding-bottom: 1%;

  .form-submit {
    width: 100%;
  }
}
.back {
  width: 100%;
  padding-top: 1%;
  left: 0;
  position: absolute;
}
