$blue: #1890ff;

.planning-page {
  width: 100%;
  padding: 0% 7%;

  h1 {
    width: 100%;
    text-align: center;
  }

  .button-wrapper {
    width: 100%;

    .left-group {
      display: inline;
      margin: 0 5%;
    }

    .right-group {
      display: inline;
      margin: 0 5%;
    }

    Button {
      margin: 1%;
    }
    Select {
      margin: 1%;
    }
    .ant-select {
      .ant-select-selector {
        background: $blue;
        color: white;
        border: none;
        box-shadow: none !important;
      }

      .ant-select-arrow {
        color: white;
      }
    }

    .ant-select-open {
      .ant-select-selection-item {
        opacity: 1;
      }
    }
  }

  .calendar {
    margin: auto;
    width: 95%;
    min-width: 900px;
    padding: 1%;
  }
}

.search {
  .ant-input {
    margin: 2%;
    width: 80%;
  }
  .ant-btn {
    margin: 2%;
  }

  .food-wrapper {
    width: 100%;
    margin-top: 3%;

    .head {
      display: flex;
      justify-content: space-between;
    }

    .food-info {
      max-height: 300px;
      overflow-y: auto;
    }

    .add-food {
      text-align: center;

      .ant-picker {
        width: 60%;
        margin: 2%;
      }
      .ant-select {
        width: 60%;
        margin: 2%;
        text-align: left;
      }
    }
  }
}
