$blue: rgba(24, 144, 255, 0.3);
$lightblue: rgba(24, 144, 255, 0.2);
$green: rgba(59, 162, 81, 0.3);
$lightgreen: rgba(59, 162, 81, 0.2);
$red: rgba(248, 31, 7, 0.3);
$lightred: rgba(248, 31, 7, 0.2);

.settings {
  margin: auto;
  width: 80%;

  h2 {
    border-top: black solid 1px;
  }

  .setting {
    display: inline-flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-around;

    .goal {
      display: inline-flex;
      flex-wrap: wrap;
    }

    p {
      margin: auto 0;
    }
  }

  .meal-list {
    width: 20%;
    margin: auto;
    border: 1px solid black;
    padding: 1%;
    box-shadow: 3px 3px black;

    .meal {
      width: 100%;
      margin: 1% auto;
      border: 1px solid black;
      box-shadow: 1px 1px black;
      display: inline-flex;
      justify-content: center;

      .ant-badge-status-dot {
        margin: auto 1%;
        width: 0.85vw;
        height: 0.85vw;
        cursor: pointer;
      }

      p {
        margin: auto 1%;
      }
    }
  }
}

.ant-popover-inner-content {
  .ant-btn {
    border: none;
    border-radius: 50%;
  }

  .ant-badge-status-dot {
    width: 0.85vw;
    height: 0.85vw;
  }
}
