.userHandler {
  .login-form {
    width: 33%;
    min-width: 275px;
    max-width: 350px;
    margin: auto;
    padding: 10px;
    padding-bottom: 0px;
    box-shadow: 2px 5px gray;
    border: solid gray 1px;
    text-align: left;

    .remember-forgot {
      display: inline-flex;
      width: 100%;
      margin-bottom: 0px;

      .forgot-password {
        float: right;
        margin-top: 2%;
      }

      .remember-me {
        float: left;
      }
    }

    .login-form-submit {
      width: 100%;
    }
  }
}
